{% extends 'base2.html.twig' %}

{% block title %}Trombi{% endblock %}

{% block body %}


    <div class=container-fluid>
        {#<div class="d-flex justify-content-between mt-5">#}
            <div class="row">
                <div class="col-sm-5">
                    {% for user in users %}

                        <div class="card" style="width: 18rem;">
                            <p>{{ user.name }}</p>
                            <p>{{ user.firstname }}</p>
                            <p>{{ user.adress }}</p>
                            <p>{{ user.email }}</p>
                            <p>{{ user.gender.name }}</p>
                            {% for activity in user.activity %}
                                <p>{{ activity.name }}</p>
                            {% endfor %}
                            {#</div>#}

                        </div>
                    {% endfor %}
                </div>
                <div>
                </div>
            </div>
        {#</div>#}
    </div>
{% endblock %}
